 * {
      box-sizing: border-box;
    }
    .nav {
      display: flex;
      gap: 10px;
      background-color: rgb(219, 93, 47);
      padding: 20px;
      font-size: 20px;
      ;
    }
    .nav a {
      color: white;
      text-decoration: none;
      border: 1px solid white;
      padding: 15px;
      border-radius: 4px;
    }
    .nav a:hover {
      background-color: white;
      color: rgb(219, 93, 47);
    }
    .do {
      color: rgb(233, 48, 15);
      text-align: center;
    }
    input {
      padding: 5px;
      margin: 2px;
     border: 1px solid black;
     border-color: gainsboro;
     width: 200px;
    }
    input[type=submit] {
       padding: 10px;
       width: 100px;
       background-color: rgb(211, 111, 29);
       color: white; 
       border-radius: 4px;
       margin-bottom: 50px;
      }
      input[type=label] {
        color: lightcoral;
      }
    label {
      font-family: tahoma;
      color: rgb(233, 48, 15);
    }
    .labal {
      margin: 0px;
    }
    .text {
      width: 500px;
      font-family: arial;
      color: rgb(117, 88, 88);
     
    }
    .text h1 img {
      font-size: 20px;
      font-family: arial;
      position: absolute;
      top: 50%;
    }
    
      .skills-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        
      }

      .skill-card {
        padding: 20px;
        border: 1px solid #ccc;
        width: 150px;
        text-align: center;
        font-family: arial;
      }
      .skill-card:hover {
        background-color: rgb(219, 93, 47);
        color: white;
        cursor: pointer;
      }